{
  "default_player_rig": "rigs/merged-rig/merged-rig.merged_spine_rig#output",
  "player_inventory_capacity": 48,
  "save_player_inventories_persistently": true,
  "auto_generate_mips": false,
  "default_post_processing": {
    "bloom": {
      "bloom_amount": 0.1000000014901161
    },
    "color_grade": {
      "color_filter": {
        "X": 1.2500000000000000,
        "Y": 1.2500000000000000,
        "Z": 1.2500000000000000
      },
      "contrast": 1
    },
    "chromatic_aberration": {
      "offsets": {
        "X": 0.0099999997764826
      }
    },
    "blur": {
      "directions": 5,
      "quality": 1,
      "size": 15
    },
    "film_grain": {
      "strength": 0.2000000029802322,
      "noise_scale": 400
    },
    "vignette": {
      "radius": 1.2999999523162842,
      "softness": 0.2000000029802322
    }
  }
}